.home_card{
    width: 100%;
    color: white;
    border-radius: 10px;
    margin-left: 350px;
    /*  */
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 568px) and (max-width: 1000px){
    .home_card{
        margin-left: 300px;
        border: none;
    }
}
@media (max-width: 567px) {
    .home_card{
        margin-left: 0px;
        border: none;
    }
}
