* {
    margin: 0;
    padding: 0;
}

.sidebar_container {
    box-shadow: rgba(255, 255, 255, 0.404) 0px 5px 15px;
    /* border: 1px solid white; */
    margin-top: 30px;
    width: 20%;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    position: fixed;
}

.sidebar_container h1{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 300;
    /* animation: lightSpeedInLeft; 
    animation-duration: 5s;  */
}
.sidebar_container p{
    color:  rgb(255, 255, 255);
    font-family:  'Poppins', sans-serif;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    
}




@media (min-width: 568px) and (max-width: 1000px) {
    .sidebar_container h1{
        font-size: 20px;
    }
    .sidebar_container{
        width: 25%;
    }
} 
@media (max-width: 567px) {
    .sidebar_container{
        position:sticky;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
} 